<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fsw.springbootpro.mapper.master.StudentMapper">
  <resultMap id="BaseResultMap" type="com.fsw.springbootpro.pojo.Student">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="age" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="grade" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, age, grade, name
  </sql>
  <select id="getList" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List"/>
    from student
  </select>

  <select id="getByID" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="delete" parameterType="java.lang.Integer">
    delete from student
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.fsw.springbootpro.pojo.Student">
    insert into student (id, age, grade, 
      name)
    values (#{id,jdbcType=INTEGER}, #{age,jdbcType=INTEGER}, #{grade,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR})
  </insert>
  <update id="update" parameterType="com.fsw.springbootpro.pojo.Student">
    update student
    set age = #{age,jdbcType=INTEGER},
      grade = #{grade,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>